
.gameboard {
    width: 800px;
    height: 600px;
    margin-block-start: 30px;
    background-color: lightskyblue;
    position: relative;
    animation: glowy-box 1s infinite alternate;
}

.gameboard.footer{
    height: 100px;
    background-color: #555555;
}
.spaceship {
    --spaceshipsize: 30px;
    height: var(--spaceshipsize);
    width: var(--spaceshipsize);
    background: url("../images/green_spaceship.png");
    visibility: visible;
    position: absolute;
    animation:
            flying 1s ease-in forwards,
            color_change 1s forwards,
            hides 1s ease-in-out 1.2s forwards;
}



.blue {
    background-color: cornflowerblue;
}

.blue::after {
    content: url("../images/resized_blue_spaceship.png");
    position: relative;
    left: -50px;
    animation:
            flying 3s ease-out .2s forwards,
            hides .4s ease-out .05s forwards;

}

.orange {
    background-color: darkorange;
}

.orange::after {
    content: url("../images/resized_orange_spaceship.png");
    position: relative;
    left: -50px;
    animation:
            flying 3s ease-out .2s forwards,
            hides .4s ease-out .05s forwards;

}


.experiment-btn {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;
    border-radius: 20px;
    padding: 1.5vmax;
    font-family: europa, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    animation: glowy-box 1s infinite alternate;
    width: 8vmax;
    margin-block-start: 20px;
    margin: 5vh auto;
    margin-left: 3vmax;
    margin-right: 3vmax;
    background-color:rgba(155, 242, 236, 1);
    color: black;
    font-size: 1.5vmax;
}

.experiment-btn:hover, .button.experiment-btn:hover {
    background-color:rgba(155, 242, 236, .7);
    animation: glowy-box 1s infinite alternate;
}

.confirm {
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;
    border-radius: 20px;
    padding: 1.5vmax;
    font-family: europa, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    animation: glowy-box 1s infinite alternate;
    width: 8vmax;
    margin: 5vh auto;
    margin-left: 3vmax;
    margin-right: 3vmax;
    background-color:rgba(155, 242, 236, 1);
    color: black;
    font-size: 1.5vmax;
}

.banner {
    padding: 20px;
    font-family: gameFont;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
    animation: blink 1.5s steps(4, start) infinite;
}

.cloudbank {
    width: 800px;
    height: 100px;
    background-color: slategrey;
    position: absolute;
    --smooth-corners: 2;
    top: 30px;
}

.grassbank {
    width: 100%;
    height: 20px;
    background-color: lightgreen;
    position: absolute;
    bottom: 0;
}
.slider_area{
    display: flex;
}
.slider{
    display: flex;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin-top: 15px;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    position: relative;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    animation: glowy-box 1s infinite alternate;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#confidenceQuestion {
    font-size: x-large;
    font-family: europa, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    line-height: 1.2em;
}


@font-face{
    font-family: gameFont;

    src: url("../AtariSmall.ttf");
}
@keyframes glowy-box {
    from {
        box-shadow: 0vmin 0vmin 1.3vmin white;
    }
    to {
        box-shadow: 0vmin 0vmin 2vmin white;
    }
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes flying {
    0%{top: 0%}
    100%{top: calc(100% - var(--spaceshipsize))}
}


@keyframes color_change {
    to { background-color: saddlebrown; }
}

@keyframes hides {
    to {
        transition-delay: 0s;
        opacity: 0;
    }
}
